<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="local.beforetherain.game" android:versionCode="1" android:versionName="1.0.0">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <application android:label="雨停之前" android:theme="@style/AppTheme" android:icon="@drawable/ic_rain" android:allowBackup="false" android:usesCleartextTraffic="false" android:supportsRtl="true" android:enableOnBackInvokedCallback="true">
    <activity android:name=".MainActivity" android:exported="true" android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden|uiMode" android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
